<h2>Sign In</h2>

<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="user[username]" value="password">
  <input type="hidden" name="user[password]" value="password">
  <button>Demo User</button>
</form>

<br><br>
<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>


  <input type="text" name="user[username]" value="" placeholder="Username">

  <br>
  <input type="password" name="user[password]" value="" placeholder="Password">
  <br>
  <button>Submit</button>
</form>

<%= render 'users/form' %>
