<!DOCTYPE html>
<html>
<head>
  <title>GoodMOOCs</title>


  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,100' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="header-nav group">
      <h1 class="header-nav-logo">
        <a href="#">good<strong>moocs</strong></a>
      </h1>
      <div class="new-session-form">
        <form class="new-session-form group" action="<%= session_url %>" method="post">
          <%= auth_token_input %>

          <input type="text" name="user[username]" value="" placeholder="Username">

          <input type="password" name="user[password]" value="" placeholder="Password">

          <button>Sign In</button>
        </form>

      </div>

      <form class="demo-form group" action="<%= session_url %>" method="post">
        <%= auth_token_input %>
        <input type="hidden" name="user[username]" value="password">
        <input type="hidden" name="user[password]" value="password">
        <button>Demo User</button>
      </form>

    </div>
    <div class="header-body group">
      <div class="catchphrase">
        <h1>You'll love <br> your next class.</h1>
      </div>
      <div class="new-user-form">
        <h2>New here? Create a free account!</h2>
        <form action=" <%= users_url %>" method="post">
          <%= auth_token_input %>

          <input type="button" name="name" value="" placeholder="Name">

            <input type="text" name="user[username]" value="" placeholder="Email Address">

          <br>
            <input type="password" name="user[password]" value="" placeholder="Password">

          <br>
          <button>Sign Up</button>
        </form>
      </div>
    </div>
  </header>


  <main>

  </main>

  <!-- <% if signed_in? %>
    <%= current_user.username %>
    <%= link_to "Sign Out", session_url, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %> -->

<br>
<br>
<%= render "layouts/errors" %>
<%= yield %>

</body>
</html>
